body {
  background: url(/images/black-background-11.jpg) center center/cover no-repeat;
  background-attachment: fixed;
  position: static; }

.main-container {
  padding: 2rem 4rem calc(10px + 100px) 4rem !important;
  min-height: calc(100vh - 90px - 1rem); }
  .main-container aside {
    margin-bottom: 2rem; }

.main-footer {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: -100px;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.5);
  text-align: center; }

button.mdl-color--primary {
  color: white; }

.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #222; }

.button-back {
  position: absolute;
  left: 1rem;
  top: 4rem; }

#navbar {
  width: 75%;
  height: 90px;
  background: transparent;
  font-size: 1.2rem; }
  #navbar .item {
    color: #fff; }
    #navbar .item.visible, #navbar .item:hover, #navbar .item:active {
      background: transparent; }

.carousel-container {
  display: flex;
  align-items: center;
  overflow: hidden; }
  .carousel-container #carousel {
    width: 100%;
    height: 360px; }
  .carousel-container #inner {
    position: absolute;
    display: flex;
    flex-wrap: nowrap; }
    .carousel-container #inner .content {
      width: 220px;
      margin: 0 30px;
      padding-top: 15px;
      background: transparent;
      float: left; }
      .carousel-container #inner .content img {
        width: 220px;
        height: auto; }
        .carousel-container #inner .content img:hover {
          box-shadow: #fff 0 0 25px 1px; }
  .carousel-container .top {
    top: 0px; }
  .carousel-container .bottom {
    bottom: 0px; }
  .carousel-container .left {
    left: 0px; }
  .carousel-container .right {
    right: 0px; }

.main-container.news-box {
  padding: 0 4rem calc(10px + 100px) 4rem !important; }

.news-item {
  text-align: initial; }
  .news-item .content {
    padding: 1rem 1.5rem; }
    .news-item .content .title {
      text-align: center; }
  .news-item.horizontal .ui.image {
    display: flex;
    align-items: center;
    justify-content: center; }
    .news-item.horizontal .ui.image img {
      width: 100%; }
  .news-item.vertical {
    display: flex; }
    .news-item.vertical .ui.image {
      flex: 1; }
      .news-item.vertical .ui.image img {
        width: 100%;
        height: 540px; }
    .news-item.vertical .content {
      flex: 1; }

.mdl-card {
  width: 100%;
  height: 660px; }
  .mdl-card .mdl-card__title {
    color: #fff; }
  .mdl-card .mdl-card__title.mdl-card--expand {
    padding: 0;
    margin: 0; }
    .mdl-card .mdl-card__title.mdl-card--expand img {
      width: 100%;
      height: 360px; }
  .mdl-card .mdl-card__supporting-text {
    width: 100%;
    min-height: 250px;
    max-height: 250px; }
    .mdl-card .mdl-card__supporting-text .scrollable-text.scrollbar-inner {
      min-height: 170px;
      max-height: 170px;
      overflow-y: auto;
      padding-right: 1rem; }
  .mdl-card .mdl-card__actions.mdl-card--border {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .mdl-card .mdl-card__actions.mdl-card--border time {
      padding: 0 16px; }

.pagination {
  list-style-type: none;
  width: 100%; }
  .pagination li {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center; }
    .pagination li i {
      font-size: 2.2rem;
      vertical-align: middle; }
    .pagination li a {
      color: #444; }
    .pagination li.active {
      background-color: #ee6e73; }
      .pagination li.active a {
        color: #fff; }

table.mdl-data-table {
  width: 100%; }
  table.mdl-data-table caption {
    margin-bottom: 1rem; }

.ui.segment.movie-intro {
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

button {
  background: none;
  border: none; }

.btn-nav:hover {
  cursor: pointer; }

.btn-nav:hover .bar {
  background: #17BEBB; }

.bar {
  display: block;
  height: 5px;
  width: 50px;
  background: #fff;
  margin: 10px auto; }

.btn-nav {
  display: block;
  padding: 15px 0;
  width: 50px;
  position: fixed;
  z-index: 99;
  right: 20px;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.btn-nav:focus {
  outline: none; }

.middle {
  margin: 0 auto; }

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease; }

.animated {
  z-index: 999; }

.animated .arrow-top-r {
  -webkit-transform: rotateZ(45deg) translateY(11px);
  -moz-transform: rotateZ(45deg) translateY(11px);
  -ms-transform: rotateZ(45deg) translateY(11px);
  -o-transform: rotateZ(45deg) translateY(11px);
  transform: rotateZ(45deg) translateY(11px);
  width: 25px; }

.animated .arrow-middle-r {
  -webkit-transform: translateX(-25px);
  -moz-transform: translateX(-25px);
  -ms-transform: translateX(-25px);
  -o-transform: translateX(-25px);
  transform: translateX(-25px); }

.animated .arrow-bottom-r {
  -webkit-transform: rotateZ(-45deg) translateY(-11px);
  -moz-transform: rotateZ(-45deg) translateY(-11px);
  -ms-transform: rotateZ(-45deg) translateY(-11px);
  -o-transform: rotateZ(-45deg) translateY(-11px);
  transform: rotateZ(-45deg) translateY(-11px);
  width: 25px; }

#carousel .item {
  width: 250px;
  margin: 0 10px;
  text-align: center;
  float: left;
  position: relative; }

@media only screen and (max-width: 768px) {
  .image-box {
    margin: auto;
    text-align: center; }
    .image-box img {
      width: 50%; } }
