extends ../../layouts/default
include ../../mixins/backButton

block content
	.ui.grid.main-container
		.row
			.four.wide.column
			.eight.wide.column
				article.ui.segment.text-center
					+backButton()
					h2 查無此頁
					h4 您要求的內容不存在
			.four.wide.column
