extends ../layouts/default
include ../mixins/intro-slide
include ../mixins/news-list

block content
	.ui.grid.main-container
		.row.intro-slide-row
			.four.wide.column.list-items-container
				aside
					if user
						a(href='/keystone/about-posts') 
							button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.md.admin-ui-color= '修改文章'
				.ui.sticky.sticky-list
					header
						h2.header= category_name
					+news_list(posts, "AboutPost")
			.twelve.wide.column.flipster-news-container
				.flat-flipster
					+intro_slide(posts, "AboutPost")
	script.
		$('.ui.sticky').sticky({
			context: '.flipster-news-container',
			pushing: true
		});
			
