extends ../layouts/default
include ../mixins/news-slide
include ../mixins/news-list
include ../mixins/pagination

block content
	.ui.grid.main-container#other-article-container
		.row.slide-row
			.four.wide.column.list-items-container
				aside.admin-ui
					if user
						a(href='/keystone/creators-posts') 
							button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.md.admin-ui-color= '修改文章'
				header
					h2.header= posts.title
				+news_list(posts.results, "CreatorsPost")
				//- +pagination(posts)
			.twelve.wide.column.flipster-news-container
				.flat-flipster
					+news_slide(posts.results, "CreatorsPost", "creators", category, 2.5)