extends ../layouts/default
include ../mixins/news-slide
include ../mixins/news-list
include ../mixins/pagination

block content
	.ui.grid.main-container#index-news-container
		.three.wide.column.list-items-container
			header
				h2.header= posts.title
			+news_list(posts, "CreatorsPost")
			+pagination(posts)
			a.ui.button(href='/creators/list') 顯示全部
		.thirteen.wide.column.flipster-news-container
			.flat-flipster
				+news_slide(posts, "CreatorsPost")