extends ../layouts/default
include ../mixins/news-slide
include ../mixins/news-list
include ../mixins/pagination

block content
	.ui.grid.main-container
		.row.intro-row
			.four.wide.column.list-items-container
				aside
					if user
						a(href='/keystone/intro-posts') 
							button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.md.admin-ui-color= '修改聯盟文章'
				header
					h2.header= posts.title
				+news_list(posts.results, "CreatorsPost")
				//- +pagination(posts)
			.twelve.wide.column.flipster-news-container
				.flat-flipster
					+news_slide(posts.results, "CreatorsPost")