extends ../layouts/default

block content
	.ui.grid.main-container
		.ui.two.wide.column
		.ui.twelve.wide.column
			each post in posts
				article.ui.segment
					h3.header!= post.name
						time= post._.publishedDate.format('MMMM Do, YYYY')
					if post.image
					figure.ui.image
						img(src=post._.image.fit(1024,768))
					section.content
						p!= post.content.extended
		.ui.two.wide.column
