extends ../layouts/default
include ../mixins/carousel
include ../mixins/news

block content
	.ui.grid.main-container
		.row
			header: h2= '新進影音'
			.ui.sixteen.wide.column.carousel-container
				main
					+carousel(movies)
		.row.news-box
			header: h2= '最新消息'
			.two.wide.column
			.twelve.wide.column
				.coverflow
					ul
						each a_news in news
							li
								article.news-segment
									+news(a_news)
				.ui.button#show-list-news 列表式查看
			.two.wide.column
			
