extends ../layouts/default
include ../mixins/carousel

block content
	.ui.grid.main-container
		.row
			.ui.thirteen.wide.column
				aside

				header
					h2= '最新消息'
						
			.ui.three.wide.column
		.row
			.ui.sixteen.wide.column.carousel-container
				main
					+carousel(movies)
			
