extends ../layouts/default
include ../mixins/carousel
include ../mixins/news-slide
include ../mixins/news-list
include ../mixins/pagination

block content
	.ui.grid.main-container#index-news-container
		.row.news-row
			.three.wide.column.list-items-container
				h2.header= "最新消息"
				+news_list(news.results)
				+pagination(news.results)
				a.ui.button(href='/news/list') 顯示全部
			.thirteen.wide.column.flipster-news-container
				.flat-flipster
					+news_slide(news.results, "NewsPost")
	.ui.grid.main-container#carousel-container
		+carousel(movies)
			
