extends ../layouts/default
include ../mixins/carousel
include ../mixins/news-slide
include ../mixins/news-list
include ../mixins/pagination

block content
	.ui.grid#carousel-container
		+carousel(movies)
	.ui.grid.main-container#index-news-container
		.row.news-row
			.four.wide.column.list-items-container
				h2.header= "最新消息"
				+news_list(news)
				+pagination(news, true)
			.twelve.wide.column.flipster-news-container
				.flat-flipster
					+news_slide(news.results)
				//- .control-panel
				//- 	button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--accent#ctrl-slide-prev
				//- 		i.material-icons navigate_before
				//- 	button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--accent#ctrl-slide-next
				//- 		i.material-icons navigate_next
			
