extends ../layouts/default
include ../mixins/intro-slide
include ../mixins/news-list

block content
	.ui.grid.main-container
		.row.intro-row
			.four.wide.column.list-items-container
				h2.header= "中心介紹"
				+news_list(intro.results, "IntroPost")
			.twelve.wide.column.flipster-news-container
				.flat-flipster
					+intro_slide(intro.results, "IntroPost")
			
