extends ../layouts/default

block content
	.ui.grid.main-container
		.row
			.three.wide.column
			.six.wide.column
				each post in posts
					article.ui.segment
						h2= post.name
						if post.author
							|  作者:  #{post.author.name.full}
						p 發佈於 
							if post.publishedDate 
								time(datetime=post.publishedDate)=post._.publishedDate.format('MM月 DD日, YYYY')
						hr
						if post.image.exists
							figure.ui.fluid.image
								img(src=post._.image.fit(750,500))
							hr
						.main-content
							!= post.content.full
			.three.wide.column