extends ../layouts/default
include ../mixins/news

block content
	.ui.grid.main-container.news-box
		.two.wide.column
		.twelve.wide.column
			.coverflow
				ul
					each a_news in news
						li
							article.news-segment
								+news(a_news)
		.two.wide.column
		
		//- .ui.segments.news-box
		//- 	each a_news in news
		//- 		article.ui.segment
		//- 			+news(a_news)
		
		

			
