extends ../layouts/default
include ../mixins/news

block content
	.ui.grid.main-container.news-box
		.row
			header: h2= '最新消息'
			.two.wide.column
			.twelve.wide.column
				.coverflow
					ul
						each a_news in news
							li
								article.news-segment
									+news(a_news)
			.two.wide.column
		
		

			
