@charset "UTF-8";
.special-segment:hover .bg-large .line-bottom-left:before, .special-segment:hover .bg-tall .line-bottom-left:before, .special-segment:hover .bg-medium .line-bottom-left:before, .special-segment:hover .bg-mediumn .line-bottom-left:before, .special-segment:hover .bg-large .line-top-right:before, .special-segment:hover .bg-tall .line-top-right:before, .special-segment:hover .bg-medium .line-top-right:before, .special-segment:hover .bg-mediumn .line-top-right:before {
  background: rgba(255, 255, 255, 0.8);
  transform: scaleX(1) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.3, 0.1, 0.05, 1), background 0.6s cubic-bezier(0.3, 0.1, 0.05, 1); }

.special-segment:hover .bg-large .line-bottom-left:after, .special-segment:hover .bg-tall .line-bottom-left:after, .special-segment:hover .bg-medium .line-bottom-left:after, .special-segment:hover .bg-mediumn .line-bottom-left:after, .special-segment:hover .bg-large .line-top-right:after, .special-segment:hover .bg-tall .line-top-right:after, .special-segment:hover .bg-medium .line-top-right:after, .special-segment:hover .bg-mediumn .line-top-right:after {
  background: rgba(255, 255, 255, 0.8);
  transform: scaleY(1) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.3, 0.1, 0.05, 1), background 0.6s cubic-bezier(0.3, 0.1, 0.05, 1); }

.special-segment .bg-large, .special-segment .bg-tall, .special-segment .bg-medium {
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: -16px;
  padding: 0 8px;
  width: calc(100% + 2 * 8px);
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  transform: translateZ(0); }
  .special-segment .bg-large .line-bottom-left:before, .special-segment .bg-tall .line-bottom-left:before, .special-segment .bg-medium .line-bottom-left:before {
    bottom: 0;
    left: -1px;
    width: 100%;
    height: 1px;
    transform-origin: left center;
    transform: scaleX(0) translateZ(0); }
  .special-segment .bg-large .line-bottom-left:after, .special-segment .bg-tall .line-bottom-left:after, .special-segment .bg-medium .line-bottom-left:after {
    top: 0;
    left: -1px;
    width: 1px;
    height: 100%;
    transform-origin: center bottom;
    transform: scaleY(0) translateZ(0); }
  .special-segment .bg-large .line-top-right:before, .special-segment .bg-tall .line-top-right:before, .special-segment .bg-medium .line-top-right:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: right center;
    transform: scaleX(0) translateZ(0); }
  .special-segment .bg-large .line-top-right:after, .special-segment .bg-tall .line-top-right:after, .special-segment .bg-medium .line-top-right:after {
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    transform-origin: center top;
    transform: scaleY(0) translateZ(0); }
  .special-segment .bg-large .line-bottom-left:before, .special-segment .bg-tall .line-bottom-left:before, .special-segment .bg-medium .line-bottom-left:before, .special-segment .bg-large .line-bottom-left:after, .special-segment .bg-tall .line-bottom-left:after, .special-segment .bg-medium .line-bottom-left:after, .special-segment .bg-large .line-top-right:before, .special-segment .bg-tall .line-top-right:before, .special-segment .bg-medium .line-top-right:before, .special-segment .bg-large .line-top-right:after, .special-segment .bg-tall .line-top-right:after, .special-segment .bg-medium .line-top-right:after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    transition-property: background, transform;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.1, 1); }

.special-segment .bg-tall {
  top: -8px;
  left: -8px;
  padding: 8px 0; }
  .special-segment .bg-tall .line-bottom-left:before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: right center;
    transform: scaleX(0) translateZ(0); }
  .special-segment .bg-tall .line-bottom-left:after {
    top: 0;
    left: -1px;
    width: 1px;
    height: 100%;
    transform-origin: center top;
    transform: scaleY(0) translateZ(0); }
  .special-segment .bg-tall .line-top-right:before {
    top: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: left center;
    transform: scaleX(0) translateZ(0); }
  .special-segment .bg-tall .line-top-right:after {
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    transform-origin: center bottom;
    transform: scaleY(0) translateZ(0); }
  .special-segment .bg-tall .line-bottom-left:before, .special-segment .bg-tall .line-bottom-left:after, .special-segment .bg-tall .line-top-right:before, .special-segment .bg-tall .line-top-right:after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    transition-property: background, transform;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.1, 1); }

.special-segment .bg-medium {
  top: -16px;
  left: 0;
  padding: 16px 0;
  width: 100%; }
  .special-segment .bg-medium .line-bottom-left:before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: right center;
    transform: scaleX(0) translateZ(0); }
  .special-segment .bg-medium .line-bottom-left:after {
    top: 0;
    left: -1px;
    width: 1px;
    height: 100%;
    transform-origin: center top;
    transform: scaleY(0) translateZ(0); }
  .special-segment .bg-medium .line-top-right:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: left center;
    transform: scaleX(0) translateZ(0); }
  .special-segment .bg-medium .line-top-right:after {
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    transform-origin: center bottom;
    transform: scaleY(0) translateZ(0); }
  .special-segment .bg-medium .line-bottom-left:before, .special-segment .bg-medium .line-bottom-left:after, .special-segment .bg-medium .line-top-right:before, .special-segment .bg-medium .line-top-right:after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.1, 1), background 0.6s cubic-bezier(0.4, 0, 0.1, 1); }

.horizontal.special-segment .bg-large .line-bottom-left:before, .horizontal.special-segment .bg-tall .line-bottom-left:before, .horizontal.special-segment .bg-medium .line-bottom-left:before {
  bottom: -1px;
  left: 0; }

.horizontal.special-segment .bg-large .line-bottom-left:after, .horizontal.special-segment .bg-tall .line-bottom-left:after, .horizontal.special-segment .bg-medium .line-bottom-left:after {
  top: 0;
  left: -1px; }

.horizontal.special-segment .bg-large .line-top-right:before, .horizontal.special-segment .bg-tall .line-top-right:before, .horizontal.special-segment .bg-medium .line-top-right:before {
  top: 0;
  left: 0; }

.horizontal.special-segment .bg-large .line-top-right:after, .horizontal.special-segment .bg-tall .line-top-right:after, .horizontal.special-segment .bg-medium .line-top-right:after {
  top: 0;
  right: -1px; }

.horizontal.special-segment .bg-tall .line-bottom-left:before {
  bottom: -1px;
  left: 0; }

.horizontal.special-segment .bg-tall .line-bottom-left:after {
  top: 0;
  left: -1px; }

.horizontal.special-segment .bg-tall .line-top-right:before {
  top: 0;
  left: 0; }

.horizontal.special-segment .bg-tall .line-top-right:after {
  top: 0;
  right: -1px; }

.horizontal.special-segment .bg-medium .line-bottom-left:before {
  bottom: -1px;
  left: 0; }

.horizontal.special-segment .bg-medium .line-bottom-left:after {
  top: 0;
  left: -1px; }

.horizontal.special-segment .bg-medium .line-top-right:before {
  top: 0;
  left: 0; }

.horizontal.special-segment .bg-medium .line-top-right:after {
  top: 0;
  right: -1px; }

.vertical.special-segment .bg-large .line-bottom-left:before, .vertical.special-segment .bg-tall .line-bottom-left:before, .vertical.special-segment .bg-medium .line-bottom-left:before {
  bottom: -1px;
  left: 0; }

.vertical.special-segment .bg-large .line-bottom-left:after, .vertical.special-segment .bg-tall .line-bottom-left:after, .vertical.special-segment .bg-medium .line-bottom-left:after {
  top: 0;
  left: 0; }

.vertical.special-segment .bg-large .line-top-right:before, .vertical.special-segment .bg-tall .line-top-right:before, .vertical.special-segment .bg-medium .line-top-right:before {
  top: 0;
  left: 0; }

.vertical.special-segment .bg-large .line-top-right:after, .vertical.special-segment .bg-tall .line-top-right:after, .vertical.special-segment .bg-medium .line-top-right:after {
  top: 0;
  right: -1px; }

.vertical.special-segment .bg-tall .line-bottom-left:before {
  bottom: -1px;
  left: 0; }

.vertical.special-segment .bg-tall .line-bottom-left:after {
  top: 0;
  left: 0; }

.vertical.special-segment .bg-tall .line-top-right:before {
  top: -1px;
  left: 0; }

.vertical.special-segment .bg-tall .line-top-right:after {
  top: 0;
  right: -1px; }

.vertical.special-segment .bg-medium .line-bottom-left:before {
  bottom: -1px;
  left: 0; }

.vertical.special-segment .bg-medium .line-bottom-left:after {
  top: 0;
  left: 0; }

.vertical.special-segment .bg-medium .line-top-right:before {
  top: 0;
  left: 0; }

.vertical.special-segment .bg-medium .line-top-right:after {
  top: 0;
  right: -1px; }

.nav-grid #nav-banner {
  width: 100%; }
  .nav-grid #nav-banner img {
    width: 100%; }

.nav-grid .ui.secondary.menu.main-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 63px;
  margin-top: -20px;
  padding: 1em 4em;
  box-sizing: content-box;
  background: transparent;
  font-size: 1.5em; }
  .nav-grid .ui.secondary.menu.main-navbar .item.svg-item {
    color: #222;
    font-size: 22px;
    letter-spacing: 2px; }
    .nav-grid .ui.secondary.menu.main-navbar .item.svg-item.svg-item {
      padding: 2em 1.75em; }
    .nav-grid .ui.secondary.menu.main-navbar .item.svg-item.visible, .nav-grid .ui.secondary.menu.main-navbar .item.svg-item:hover, .nav-grid .ui.secondary.menu.main-navbar .item.svg-item:active {
      background: transparent;
      color: #fff; }
    .nav-grid .ui.secondary.menu.main-navbar .item.svg-item #root-span-1 {
      margin: 0 0 0 -7px; }
    .nav-grid .ui.secondary.menu.main-navbar .item.svg-item #root-span-2 {
      margin: -3px 0 0 12px; }
    .nav-grid .ui.secondary.menu.main-navbar .item.svg-item #root-span-3 {
      margin: 3px 0 0 14px; }
    .nav-grid .ui.secondary.menu.main-navbar .item.svg-item #root-span-4 {
      margin: 4px 0 0 4px; }
    .nav-grid .ui.secondary.menu.main-navbar .item.svg-item #root-span-5 {
      margin: 10px 0 0 48px; }
    .nav-grid .ui.secondary.menu.main-navbar .item.svg-item #root-span-6 {
      margin: -3px 0 0 -22px; }
    .nav-grid .ui.secondary.menu.main-navbar .item.svg-item > i.dropdown.icon {
      margin: 0 0 0 5px; }

.nav-grid .extra-menu {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 4em;
  right: 0;
  width: 14%; }
  .nav-grid .extra-menu a {
    flex: 1;
    color: #fff;
    font-weight: 700;
    font-size: 1.2em; }

.nav-grid .hit-counter {
  position: relative;
  position: absolute;
  top: 7em;
  right: 3em; }
  .nav-grid .hit-counter:before {
    content: "訪客人數：";
    position: absolute;
    width: 85%;
    top: 1px;
    right: 100%;
    color: #eee;
    font-weight: 700;
    font-size: 1em; }
  .nav-grid .hit-counter small {
    display: none; }

.svg-btn-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70px;
  padding: 0 2em; }
  .svg-btn-container .svg-bg {
    position: absolute;
    width: 220px;
    height: 72px; }
  .svg-btn-container polygon.outer {
    fill: #8cebff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s; }
    .svg-btn-container polygon.outer.active {
      fill: #AFCBFF; }
    .svg-btn-container polygon.outer.selected {
      fill: #B7FFB7; }
  .svg-btn-container polygon.inner {
    fill: #00d9ff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s; }
    .svg-btn-container polygon.inner.active {
      fill: #6F6EFF; }
    .svg-btn-container polygon.inner.selected {
      fill: #74FF92; }

.google-search-box {
  position: absolute;
  width: 20vw;
  right: 0;
  background: #fff;
  z-index: 2; }
  .google-search-box .search {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #fff; }
    .google-search-box .search .gsc-control-cse.gsc-control-cse-zh_TW {
      background: transparent;
      border: none; }
    .google-search-box .search .gsc-search-box-tools .gsc-search-box {
      display: flex;
      height: 35px; }
      .google-search-box .search .gsc-search-box-tools .gsc-search-box .gsc-input {
        padding-right: 0; }
      .google-search-box .search .gsc-search-box-tools .gsc-search-box .gsc-input-box, .google-search-box .search .gsc-search-box-tools .gsc-search-box .gsc-input-box-hover, .google-search-box .search .gsc-search-box-tools .gsc-search-box .gsc-input-box-focus {
        height: 2.5rem;
        border: none;
        box-shadow: none; }
        .google-search-box .search .gsc-search-box-tools .gsc-search-box .gsc-input-box span.gscb_a, .google-search-box .search .gsc-search-box-tools .gsc-search-box .gsc-input-box-hover span.gscb_a, .google-search-box .search .gsc-search-box-tools .gsc-search-box .gsc-input-box-focus span.gscb_a {
          margin-top: 10px; }
      .google-search-box .search .gsc-search-box-tools .gsc-search-box input#gsc-i-id1 {
        height: 2rem !important;
        line-height: 2rem !important;
        border: none;
        padding: 0;
        color: #222; }
      .google-search-box .search .gsc-search-box-tools .gsc-search-box input.gsc-search-button-v2 {
        background: url(https://www.google.com/uds/css/v2/search_box_icon.png) center no-repeat, #009688;
        color: #fff;
        border: none;
        border-radius: 0;
        margin: 6px 0 0;
        height: 100%; }
        .google-search-box .search .gsc-search-box-tools .gsc-search-box input.gsc-search-button-v2:hover {
          background-color: #00beac; }
    .google-search-box .search #___gcse_0 {
      flex: 5; }
  .google-search-box + div {
    clear: both; }
  .google-search-box .gsc-results-wrapper-nooverlay .gsc-tabsArea > .gsc-tabHeader {
    width: 50%;
    height: 32px;
    font-size: 16px; }

@font-face {
  font-family: "cwTeXHei";
  font-style: 400;
  font-weight: normal;
  src: url("//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix") format("embedded-opentype"), url("//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2") format("woff2"), url("//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff") format("woff"), url("//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf") format("truetype"), url("//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.svg#cwTeXHei") format("svg"); }

figure {
  margin: 0; }

.ks-editable-btn {
  z-index: 999; }

.admin-ui-color {
  background: #ff4081;
  color: #fff; }

html, body {
  height: 100%; }

html, body, h1, h2, h3, h4, h5, h6, .ui.menu, .ui.button, .mdl-button {
  font-family: Arial, 'cwTeXHei', "文泉驛正黑", "WenQuanYi Zen Hei", "微軟正黑體", "Microsoft JhengHei", "標楷體", sans-serif; }

body {
  background: url("../assets/images/bg.png") center center/cover no-repeat;
  background-attachment: fixed;
  padding-bottom: 3em; }

.ui.grid.main-container {
  padding: 2em 4em; }
  .ui.grid.main-container > h1, .ui.grid.main-container > h2, .ui.grid.main-container > h3, .ui.grid.main-container > h4, .ui.grid.main-container > h5, .ui.grid.main-container > h6, .ui.grid.main-container header {
    color: #fff; }
  .ui.grid.main-container aside {
    margin-bottom: 2em; }
  .ui.grid.main-container .row {
    padding: 4em 1em; }
    .ui.grid.main-container .row header h2 {
      color: #ddd; }
  .ui.grid.main-container article .main-content {
    padding: 1em 2em; }
    .ui.grid.main-container article .main-content p {
      font-size: 1.25em; }

.main-footer {
  position: absolute;
  width: 100%;
  box-sizing: content-box;
  margin-top: 3em;
  padding: 2em 1em;
  background: rgba(4, 15, 79, 0.8);
  color: #eee;
  text-align: center; }
  .main-footer p {
    font-size: 1.25em; }

button.mdl-color--primary {
  color: white; }

.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #222; }

.pagination {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding: 1.5em; }
  .pagination li {
    display: inline-block;
    font-size: 1.5em;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 0;
    text-align: center;
    color: #fff; }
    .pagination li i {
      font-size: 2.2em;
      vertical-align: middle; }
    .pagination li a {
      color: #fff; }
    .pagination li.active {
      background-color: #009688; }
  .pagination.vertical {
    position: absolute;
    top: 4em;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0;
    margin: 0; }
    .pagination.vertical li {
      padding: 0 10px;
      line-height: 30px; }

#carousel-container {
  background-image: url("../assets/images/carousel_bg.png");
  background-size: 100% 420px;
  padding: 2em 3em 0;
  margin-top: -1em; }
  #carousel-container .owl-carousel {
    width: 100%;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center; }
    #carousel-container .owl-carousel .owl-wrapper-outer {
      min-height: 260px; }
    #carousel-container .owl-carousel .owl-controls .owl-page span {
      width: 14px;
      height: 16px;
      margin: 3px 6px;
      background: #2cfff2;
      border-radius: 0;
      transform: scale(1) skew(30deg);
      transition: transform .085s ease-out; }
      #carousel-container .owl-carousel .owl-controls .owl-page span:hover {
        transform: scale(1.5) skew(0deg); }
    #carousel-container .owl-carousel .owl-controls .owl-buttons {
      position: absolute;
      top: -12px;
      left: 0;
      width: 100%;
      z-index: 1; }
      #carousel-container .owl-carousel .owl-controls .owl-buttons div {
        opacity: .8; }
      #carousel-container .owl-carousel .owl-controls .owl-buttons .owl-prev, #carousel-container .owl-carousel .owl-controls .owl-buttons .owl-next {
        margin: -.8em 1em 0;
        background-color: #536dfe;
        color: #fff; }
    #carousel-container .owl-carousel .owl-item {
      padding-left: 2px; }
      #carousel-container .owl-carousel .owl-item .item {
        display: flex;
        justify-content: space-around;
        background: transparent;
        margin: 0 0 4px;
        text-align: center; }
        #carousel-container .owl-carousel .owl-item .item .movie-item {
          width: 100%;
          margin: 0 6px; }
          #carousel-container .owl-carousel .owl-item .item .movie-item .meta {
            margin-bottom: 5px;
            font-size: 14px; }
          #carousel-container .owl-carousel .owl-item .item .movie-item .ui.image {
            position: relative; }
            #carousel-container .owl-carousel .owl-item .item .movie-item .ui.image:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              box-shadow: 0 0 15px 1px aliceblue;
              opacity: 0;
              -webkit-transition: all 0.25s ease-in;
              -moz-transition: all 0.25s ease-in;
              transition: all 0.25s ease-in; }
            #carousel-container .owl-carousel .owl-item .item .movie-item .ui.image:hover:before {
              opacity: 1; }
            #carousel-container .owl-carousel .owl-item .item .movie-item .ui.image img {
              width: 100%;
              height: 230px;
              z-index: 1000; }
          #carousel-container .owl-carousel .owl-item .item .movie-item time {
            color: #fff; }

#index-news-container {
  position: relative;
  max-height: 700px;
  padding: 2em 0; }
  #index-news-container .header {
    color: #fff; }
  #index-news-container .news-row, #index-news-container .intro-row {
    padding: 0 3em; }
  #index-news-container .news-row .flipster-news-container {
    display: flex;
    align-items: center;
    padding: 3em 1em;
    overflow: hidden; }
    #index-news-container .news-row .flipster-news-container:after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50px;
      background: #fff;
      z-index: -1; }
    #index-news-container .news-row .flipster-news-container .flipster--flat .flipster__item__content {
      box-reflect: initial;
      -webkit-box-reflect: initial; }
    #index-news-container .news-row .flipster-news-container .flipster--flat .flipster__item {
      width: 40%; }
  #index-news-container .news-segment {
    background: rgba(0, 0, 0, 0.75);
    color: #eee; }
    #index-news-container .news-segment .news-item {
      text-align: initial; }
      #index-news-container .news-segment .news-item .content {
        position: relative;
        z-index: 999; }
        #index-news-container .news-segment .news-item .content .title {
          padding-top: 1em; }
          #index-news-container .news-segment .news-item .content .title p.header {
            font-size: 2em; }
        #index-news-container .news-segment .news-item .content .title, #index-news-container .news-segment .news-item .content .action {
          text-align: center; }
        #index-news-container .news-segment .news-item .content .description {
          padding: 0 1.5em; }
      #index-news-container .news-segment .news-item button {
        z-index: 1; }
      #index-news-container .news-segment .news-item.horizontal .ui.image {
        display: flex;
        align-items: center;
        justify-content: center; }
        #index-news-container .news-segment .news-item.horizontal .ui.image img {
          width: 100%; }
      #index-news-container .news-segment .news-item.vertical {
        display: flex; }
        #index-news-container .news-segment .news-item.vertical .ui.image {
          flex: 3; }
          #index-news-container .news-segment .news-item.vertical .ui.image img {
            width: 100%; }
        #index-news-container .news-segment .news-item.vertical .content {
          flex: 2; }

.list-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 0;
  z-index: 999; }
  .list-items-container header > h2 {
    width: 100%;
    padding: 0 0 .3em; }
  .list-items-container .pagination {
    margin: 0;
    padding: 0; }
  .list-items-container #list-news {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0;
    width: 100%; }
    .list-items-container #list-news .item {
      margin: .5em 0;
      background: transparent;
      border: 1px transparent solid;
      border-radius: 50px;
      box-sizing: border-box;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .list-items-container #list-news .item .content {
        padding: 1em 1em 1em 1.5em;
        text-align: justify; }
        .list-items-container #list-news .item .content * {
          font-weight: 400;
          font-size: 1.25em;
          color: #fff; }
      .list-items-container #list-news .item.active {
        background: #e6e6e6;
        border: 1px transparent solid;
        box-shadow: 0 0 35px 4px #fff, inset 0 0 5px 0 #eee;
        -webkit-transition: all 0.25s ease-in;
        -moz-transition: all 0.25s ease-in;
        transition: all 0.25s ease-in; }
        .list-items-container #list-news .item.active * {
          color: #444; }
      .list-items-container #list-news .item:not(.active):hover {
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        border: 1px rgba(255, 255, 255, 0.3) solid;
        box-shadow: inset 0 0 5px 0 #eee; }

.intro-row {
  margin-bottom: -2em;
  padding: 0 2em !important; }
  .intro-row .flipster-news-container {
    margin-top: 5em !important;
    overflow: hidden; }
    .intro-row .flipster-news-container .flipster--flat .flipster__item {
      width: 65%;
      vertical-align: top; }
    .intro-row .flipster-news-container .flipster__button {
      display: none; }
  .intro-row .intro-segment .description {
    padding: 3em;
    overflow-y: scroll; }

#movie-blog .ui.segment h1, #movie-blog .ui.segment h2, #movie-blog .ui.segment h3, #movie-blog .ui.segment h4, #movie-blog .ui.segment h5, #movie-blog .ui.segment h6 {
  color: #444; }

.mdl-card {
  width: 100%;
  height: 660px; }
  .mdl-card .mdl-card__title {
    color: #fff; }
  .mdl-card .mdl-card__title.mdl-card--expand {
    padding: 0;
    margin: 0; }
    .mdl-card .mdl-card__title.mdl-card--expand img {
      width: 100%;
      height: 360px; }
  .mdl-card .mdl-card__supporting-text {
    width: 100%;
    min-height: 250px;
    max-height: 250px; }
    .mdl-card .mdl-card__supporting-text h4 {
      color: #555 !important; }
    .mdl-card .mdl-card__supporting-text .scrollable-text.scrollbar-inner {
      min-height: 170px;
      max-height: 170px;
      overflow-y: auto;
      padding-right: 1em; }
  .mdl-card .mdl-card__actions.mdl-card--border {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .mdl-card .mdl-card__actions.mdl-card--border time {
      padding: 0 16px; }

table.mdl-data-table {
  width: 100%; }
  table.mdl-data-table caption {
    margin-bottom: 1em; }
  table.mdl-data-table th, table.mdl-data-table td {
    color: #444;
    font-size: 16px; }
  table.mdl-data-table th {
    font-weight: 700; }
  table.mdl-data-table td.category-header {
    text-align: center;
    font-size: 1.25em;
    color: #444; }
  table.mdl-data-table td a.td-a {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.ui.segment.movie-intro {
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .ui.segment.movie-intro button.btn-back {
    position: absolute;
    right: 3px;
    top: 8px; }

.ui.segment h1, .ui.segment h2, .ui.segment h3, .ui.segment h4, .ui.segment h5, .ui.segment h6 {
  margin-top: 0;
  color: #444; }

@media only screen and (max-width: 1600px) {
  .owl-theme .owl-controls .owl-page span {
    width: 10px;
    height: 12px;
    margin: 3px 4px; } }

@media only screen and (max-width: 1024px) {
  .nav-grid .ui.secondary.menu.main-navbar {
    margin-top: 20px; }
    .nav-grid .ui.secondary.menu.main-navbar .svg-btn-container .svg-item {
      font-size: 1.15em;
      padding: 0; }
      .nav-grid .ui.secondary.menu.main-navbar .svg-btn-container .svg-item #root-span-1 {
        margin: 0 14px 32px; }
      .nav-grid .ui.secondary.menu.main-navbar .svg-btn-container .svg-item #root-span-2 {
        margin: 0px -11px 33px 18px; }
      .nav-grid .ui.secondary.menu.main-navbar .svg-btn-container .svg-item #root-span-3 {
        margin: 0 -20px 30px 20px; }
      .nav-grid .ui.secondary.menu.main-navbar .svg-btn-container .svg-item #root-span-4 {
        margin: -1px -12px 27px 16px; }
      .nav-grid .ui.secondary.menu.main-navbar .svg-btn-container .svg-item #root-span-5 {
        margin: 0px -2px 33px 9px; }
      .nav-grid .ui.secondary.menu.main-navbar .svg-btn-container .svg-item #root-span-6 {
        margin: 0px 13px 33px 15px; }
    .nav-grid .ui.secondary.menu.main-navbar #index-news-container {
      height: 50vh; } }

@media only screen and (max-width: 768px) {
  .image-box {
    margin: auto;
    text-align: center; }
    .image-box img {
      width: 50%; } }
