mixin carousel(movies)
	header
		h2.header 館藏影音
	.owl-carousel
		each movie_chunk in movies
			.item
				each movie in movie_chunk
					.movie-item(data-ks-editable=editable(user, { list: 'Movie', id: movie.id }))
						if (movie.inDate)
							a.ui.medium.image.movie-item(href="/movies/movie_blog/movie/" + movie.key target="_blank")
								time(datetime=movie._.inDate.format('MM D, YYYY'))= movie._.inDate.format('YYYY年M月D日')
								img(class="lazyOwl" data-src=movie._.image.fit(320,320))


