mixin carousel(movies)
	//- article(data-ks-editable=editable(user, { list: 'Movie', id: movie.id }))
	#carousel
		#inner
			each movie in movies
				.content
					a(href="movie_blog/movie/" + movie.key class="ui medium image")
						img(src=movie._.image.fit(320,320))

