mixin carousel(movies)
	//- article(data-ks-editable=editable(user, { list: 'Movie', id: movie.id }))
	#carousel
		ul
			each movie in movies
				li.item
					a.ui.medium.image(href="/movies/movie_blog/movie/" + movie.key)
						img(src=movie._.image.fit(320,320))

