mixin movie(movie)
	article(data-ks-editable=editable(user, { list: 'Movie', id: movie.id }))
	.mdl-card.mdl-shadow--4dp
		.mdl-card__title.mdl-card--expand
			img(src=movie._.image.fit(320,320))
		.mdl-card__supporting-text
			h4= movie.name
			.scrollable-text.scrollbar-inner
				!= movie.content.brief
		.mdl-card__actions.mdl-card--border
			a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/movies/movie_blog/movie/' + movie.key)
				| 瀏覽內容
			if movie.publishedDate
				time(datetime=movie._.publishedDate.format('MM D, YYYY'))= movie._.publishedDate.format('YYYY年 M月D日')
