mixin news_list(posts)
	.ui.link.items#list-news
		each post in posts
			.item.slide-link(data-slide="#{post.name}" data-ks-editable=editable(user, { list: 'NewsPost', id: post.id }))
				.content
					p.header= post.name
					.meta
						span= post._.publishedDate.format('YYYY.M/D')