mixin pagination(source, is_small)
	- is_small = is_small || false
	if is_small
		ul.pagination.small(data-pages="#{source.totalPages}")
			each p, i in source.pages
				li(class=source.currentPage === p ? 'active' : null)
					a(href='?page=' + (p === '...' ? (i ? source.totalPages : 1) : p ))= p
	else
		ul.pagination(data-pages="#{source.totalPages}")
			each p, i in source.pages
				li(class=source.currentPage === p ? 'active' : null)
					a(href='?page=' + (p === '...' ? (i ? source.totalPages : 1) : p ))= p