.nav-grid {
	#nav-banner {
		width: 100%;
		img {
			width: 100%;
		}
	}
}
.ui.secondary.menu.main-navbar {
	display    : flex;
	align-items: center;
	position   : relative;
	width      : 100%;
	margin-top : -20px;
	padding    : 1.2rem 5rem;
	background : transparent;
	font-size  : 1.65rem;
	.item {
		width: 100%;
		padding: 1.5em 1.2rem;
		color: #222;
		letter-spacing: 2px;
		display: flex;
		justify-content: center;
		transition: all .25s;
		&.visible, &:hover, &:active {
			background: transparent;
			color: #fff;
		}
		[id^="svg-text"] {
			position: relative;
		}
		#svg-text1 {
			left: -3px;
		}
		#svg-text2 {
			top: -1px;
			left: 13px;
		}
		#svg-text3 {
			left: 14px;
		}
		#svg-text4 {
			top: 2px;
			left: 12px;
		}
		#svg-text5 {
			top: 3px;
			transform: translateX(50%);
			& ~ .icon {
				top: 3px;
				left: 26px;
			}
		}
		#svg-text6 {
			top: -2px;
			left: -9px;
			& ~ .icon {
				top: -2px;
				left: -20px;
			}
		}
	}
}

.extra-menu {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: 4em;
	right: 0;
	width: 14%;
	a {
		flex       : 1;
		color      : #fff;
		font-weight: 700;
		font-size  : 1.2em;
	}
}
.hit-counter {
	position: relative;
	&:before {
		content    : "訪客人數：";
		position   : absolute;
		width      : 85%;
		top        : 4px;
		right      : 105px;
		color      : #eee;
		font-weight: 700;
		font-size  : 1.2em;
	}
	position: absolute;
	top: 7em;
	right: 3em;
	small {
		display: none;
	}
}

.svg-btn-container {
		flex           : 1;
		display        : flex;
		justify-content: center;
		align-items    : center;
		position       : relative;
		padding        : 0 2.5rem;
	.svg-bg {
		display        : flex;
		justify-content: center;
		align-items    : center;
		position: absolute;
		width   : 100%;
		height  : 80px;
		svg {
			height: 100%;
		}
	}
	polygon {
		&.outer {
			fill: #8cebff;
			transition: all .4s ease-out;
			&.active {
				fill: #AFCBFF;
			}
			&.selected {
				fill: #B7FFB7;
			}
		}
		&.inner {
			fill: #00d9ff;
			transition: all .4s ease-out;
			&.active {
				fill: #6F6EFF;
			}
			&.selected {
				fill: #74FF92;
			}
		}
	}
}