// pagination
ul.pagination {
	width          : 100%;
	padding        : 1.5em;
	list-style-type: none;
	text-align     : center;
	li {
		display      : inline-block;
		margin       : 0 4px;
		padding      : 0;
		font-size    : 24px;
		line-height  : 35px;
		border-radius: 0;
		text-align   : center;
		color        : #fff;
		&.first, &.prev, &.next, &.last {
			padding: 2px 4px;
		}
		i {
			vertical-align: middle;
			padding       : 0;
			font-size     : 45px;
		}
		a {
			display: inline-block;
			width  : 45px;
			height : 45px;
			padding: 3px 0 0;
			color  : #fff;
		}
		&:not(.active):hover {
			background-color: rgba(16, 172, 157, 0.25);
			border-radius: 50%;
		}
		&.active {
			background-color: #009688;
		}
	}

	&.small {
		li {
			font-size: 18px;
			&.page {
				padding      : 0;
				line-height  : 32px;
				border-radius: 50%;
			}
			a {
				width : 32px;
				height: 32px;
			}
			i {
				font-size: 32px;
			}
		}
	}

	&.vertical {
		position: absolute;
		top: 4em;
		// left: 100%;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: auto;
		padding: 0;
		margin: 0;
		li {
			padding: 0 10px;
			line-height: 30px;
		}
	}
}