.google-search-box {
	position     : absolute;
	width        : 20vw;
	margin-right : 4em;
	padding-left : 0 !important;
	padding-right: 0 !important;
	right        : 0;
	background   : #fff;
	z-index      : 2;
	.search {
		display: flex;
		align-items: center;
		font-weight: 400;
		color: #fff;
		.gsc-control-cse.gsc-control-cse-zh_TW {
			background: transparent;
			padding: 0;
			border: none;
		}
		.gsc-search-box-tools .gsc-search-box {
			display: flex;
			height: 35px;
			.gsc-input {
				padding-right: 0;
			}
			.gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
				height: 2.5rem;
				border: none;
				box-shadow: none;
				span.gscb_a {
					margin-top: 10px;
				}
			}
			input {
				&#gsc-i-id1 {
					height: 2rem !important;
					line-height: 2rem !important;
					border: none;
					padding: 0;
					color: #222;
				} 
				&.gsc-search-button-v2 {
					background: url(https://www.google.com/uds/css/v2/search_box_icon.png) center no-repeat, #009688;
			    color: #fff;
			    border: none;
			    border-radius: 0;
			    margin: 10px 0 0;
			    height: 119%;
			    &:hover {
			    	background-color: #00beac;
			    }
				}
			}
		}
		#___gcse_0 {
			flex: 5;
		}
	}
	& + div {
		clear: both;
	}

	.gsc-results-wrapper-nooverlay {
		.gsc-tabsArea {
			& > .gsc-tabHeader {
			  width: 50%;
			  height: 32px;
			  font-size: 16px;
			}
		}
	}
}

