@import "bourbon";
@import "special_transition";
@import "navbar";
@import "pagination";
@import "search-bar";

@include font-face("cwTeXHei", "//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly", normal, 400);

$navbar-height : 90px;
$prepare-height: 100px;
$movie-items   : 7;
$img-path			 : '../assets/images/';

// semantic 調校
figure {
	margin: 0;
}

// keystone 調校
.ks-editable-btn {
	z-index: 999;
}

.admin-ui-color {
	background: #ff4081;
	color: #fff;
}

html, body {
	height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, .ui.menu, .ui.button, .mdl-button {
	font-family: Arial, 'cwTeXHei', "文泉驛正黑", "WenQuanYi Zen Hei", "微軟正黑體", "Microsoft JhengHei", "標楷體", sans-serif;
}

body {
	// display: flex;
	// flex-direction: column;
	background: url($img-path + 'bg.png') center center / cover no-repeat;
	background-attachment: fixed;
	padding-bottom: 3em;
	
}

// grid layout
.ui.grid.main-container {
	// min-height: 100vh;
	padding: 2em 4em;
	& > h1, & > h2, & > h3, & > h4, & > h5, & > h6,
	header, h4.prompt, h5.prompt {
		color: #fff;
	} 
	aside {
		margin-bottom: 2em;
	}
	.row {
		padding: 4em 1em;
		header h2 {
			// position: absolute;
			// top: 2em;
			// left: 2em;
			color: #ddd;
		}
	}
	article {
		.main-content {
			padding: 1em 2em;
			p {
				font-size: 1.25em;
			}
		}
	}
}

.main-footer {
	position: absolute;
	width: 100%;
	box-sizing: content-box;
	margin-top: 3em;
	padding: 2em 1em;
	background: rgba(4, 15, 79, 0.8);
	color: #eee;
	text-align: center;
	p {
		font-size: 1.25em;
	}
}

button.mdl-color--primary {
	color: white;
}

// specific scrollbar 
.scrollbar-inner > .scroll-element .scroll-bar {
	background-color: #222;
}

// 首頁carousel

#carousel-container {
	background-image: url($img-path + 'carousel_bg.png');
	background-size: 100% 420px;
	margin-top: -1em;

	.owl-carousel {
		width: 100%;
		margin-left: 1em;
		// overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;

		.owl-wrapper-outer { min-height: 260px; }
		.owl-controls {
			.owl-page span {
				width: 14px;
				height: 16px;
				margin: 3px 6px;
				background: #2cfff2;
				border-radius: 0;
				transform: scale(1) skew(30deg);
				transition: transform .085s ease-out;
				&:hover {
					transform: scale(1.5) skew(0deg);
				}
			}
			.owl-buttons {
				position: absolute;
				top: -12px;
				left: 0;
				width: 100%;
				z-index: 1;
				div {
					opacity: .8;
				}
				.owl-prev, .owl-next {
					margin: -.8em 1em 0;
					background-color: rgb(83,109,254);
					color: #fff;
				}
				.owl-prev {
					// border-radius: 48% 0 0 48%;
				}
				.owl-next {
					// border-radius: 0 48% 48% 0;
				}
			}
		}
		.owl-item {
			padding-left: 2px;
			.item {
				display: flex;
				justify-content: space-around;
				background: transparent;
				margin: 0 0 4px;
				text-align: center;
				.movie-item {
					width: 100%;
					margin: 0 6px;
					
					.meta {
						margin-bottom: 5px;
						font-size: 14px;
					}
					.ui.image {
						position: relative;
						&:before {
							content: "";
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							box-shadow: 0 0 15px 1px aliceblue;
							opacity: 0;
							@include transition(all .25s ease-in);
						}
						&:hover {
							&:before {
								opacity: 1;
							}
						}
						img {
							width: 100%;
							height: 230px;
							z-index: 1000;
						}  
					}
					time {
						color: #fff;
					}
				}
			}
		}
	}
}

#index-news-container {
	position  : relative;
	max-height: 700px;
	// padding   : 2em 0;
	// news 
	.flipster-news-container {
		display    : flex;
		align-items: center;
		padding    : 3em 1em;
		overflow   : hidden;
		&:after {
			position  : absolute;
			top       : 0;
			left      : 0;
			height    : 100%;
			width     : 50px;
			background: #fff;
			z-index   : -1;
		}
		.flipster--flat .flipster__item__content {
			box-reflect        : initial;
			-webkit-box-reflect: initial;
		}

		.flipster--flat .flipster__item {
			width: 40%;
		}
	}

	.news-segment {
		background: rgba(0, 0, 0, .75);
		color: #eee;
		.news-item {
			text-align: initial;
			.content {
				position: relative;
				padding-bottom: 1em;
				z-index: 999;
				.title {
					padding-top: 1em;
					p.header {
						font-size: 2em;
					}
				}
				.title, .action {
					text-align: center;
				}
				.description {
					padding: 0 1.5em;
				}
			}
			button {
				z-index: 1;
			}
			&.horizontal {
				& .ui.image {
					display: flex;
					align-items: center;
					justify-content: center;
					& img {
						// max-height: 350px;
						width: 100%;
					}
				}
			}
			&.vertical {
				display: flex;
				.ui.image {
					flex: 3;
					& img {
						width: 100%;
						// max-height: 550px;
					}
				}
				.content {
					flex: 2;
				}
			}
		}
	}
}

.list-items-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	padding: 0;
	z-index: 999;
	header {
		margin-bottom: 6px;
		h2 {
			width: 100%;
			padding: 0 0 .3em;
			border-bottom: 1px #ddd solid;
		}
	}
	.pagination {
		margin: 0;
		padding: 0;
	}
	#list-news {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0 0;
		width: 100%;
		.item {
			margin: .5em 0;
			background: transparent;
			border: 1px transparent solid;
			border-radius: 50px;
			box-sizing: border-box;
			@include transition(all .4s ease-in-out);
			.content {
				padding: 1em 1em 1em 1.5em;
				text-align: justify;
				& * {
					font-weight: 400;
					font-size: 1.25em;
					color: #fff;
				}
			}
			&.active {
				background: rgb(230, 230, 230);
				border: 1px transparent solid;
				box-shadow: 0 0 35px 4px #fff, inset 0 0 5px 0 #eee;
				@include transition(all .25s ease-in);
				& * {
					color: #444;
				}
			}
			&:not(.active):hover {
				@include transition(all .2s ease-in);
				border: 1px rgba(255,255,255,.3) solid;
				box-shadow: inset 0 0 5px 0 #eee;
			}
		}
	}
}

// 中心介紹
.intro-row {
	// min-height: 100vh;
	margin-bottom: -2em;
	padding: 0 2em !important;
	.flipster-news-container {
		margin-top: 5em !important;
		overflow: hidden;

		.flipster--flat .flipster__item {
			width: 65%;
			vertical-align: top;
		}

		.flipster__button {
			display: none;
		}
	}
	.intro-segment {
		.description {
			// min-height: 75vh;
			// max-height: 75vh;
			padding: 2em;
			overflow-y: scroll;
		}
	}
}

// 影音blog
#movie-blog {
	.ui.segment {
		h1, h2, h3, h4, h5, h6 {
			color: #444;
		}
	}
}



// 影音card
.mdl-card {
	width: 100%;
	height: 660px;
	.mdl-card__title {
		color: #fff;
	}
	.mdl-card__title.mdl-card--expand {
		padding: 0;
		margin: 0;
		img {
			width: 100%;
			height: 360px;
		}
	}
	.mdl-card__supporting-text {
		width: 100%;
		min-height: 250px;
		max-height: 250px;
		color: rgba(0, 0, 0, .75);
		h4 {
			color: #555 !important;
		}
		// overflow-y: auto;
		.scrollable-text.scrollbar-inner {
			min-height: 170px;
			max-height: 170px;
			overflow-y: auto;
			padding-right: 1em;
		} 
	}
	.mdl-card__actions.mdl-card--border {
		display: flex;
		align-items: center;
		justify-content: space-between;
		time {
			padding: 0 16px;
		}
	}
	.mdl-button.btn-seeMovie {
		background : rgba(205, 205, 205, 0.5);
		margin-left: 8px;
	}
}

// 單一影音
table.mdl-data-table {
	width: 100%;
	margin-top: 5em;
	& caption {
		margin-bottom: 1em;
	}
	th, td {
		color: #444;
		font-size: 16px;
	}
	th {
		font-weight: 700;
	}
	td {
		&.category-header {
			text-align: center;
			font-size : 1.25em;
			color     : #444;
		}
		a.td-a {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

.ui.segment {
	&.movie-intro {
		border-radius: 0;
		box-shadow: 
			0 2px 2px 0 rgba(0,0,0,.14),
			0 3px 1px -2px rgba(0,0,0,.2),
			0 1px 5px 0 rgba(0,0,0,.12);

		button.btn-back {
			position: absolute;
			right   : 3px;
			top     : 8px;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		color: #444;
	}
}


@media only screen and (max-width: 1600px) {
	.owl-theme .owl-controls .owl-page span {
		width: 10px;
		height: 12px;
		margin: 3px 4px;
	}
}

@media only screen and (max-width: 1024px) {
	.nav-grid .ui.secondary.menu.main-navbar {
		margin-top: 20px;
		& .svg-btn-container {
			// width: calc(100% / 10);
			& .svg-item {
				font-size: 1.15em;
				padding: 0;
				& #root-span-1 {
					margin: 0 14px 32px;
				}
				& #root-span-2 {
					margin: 0px -11px 33px 18px;
				}
				& #root-span-3 {
					margin: 0 -20px 30px 20px;
				}
				& #root-span-4 {
					margin: -1px -12px 27px 16px;
				}
				& #root-span-5 {
					margin: 0px -2px 33px 9px;
				}
				& #root-span-6 {
					margin: 0px 13px 33px 15px;
				}
			}
		}
		& #index-news-container {
			height: 50vh;
		}
	}
}

@media only screen and (max-width: 768px) {
	.image-box {
		margin: auto;
		text-align: center;
		& img  {
			width: 50%;
		}
	}
}